body {
    background-color: lightsteelblue;
    width: 100vw;
    height: 100vh;
}

.reliable-efficient-delivery {
    font-weight: lighter;
}

.centered {
    text-align: center;
}

body h2 {
    width: 50%;
}

.middle_box_holder {
    border: 1px solid #fff;
    margin: 0px 25px;
    height: 200px;
    width: 200px;
}

.middle .middle_box_holder {
    margin: 25px 0;
}

.flex-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supervisor {
    display: inline-block;
    background-color: linen;
    margin-top: 130px;
    border-top: 2px solid teal;
    border-radius: 5px;
}

.team-builder {
    display: inline-block;
    background-color: linen;
    border-top: 2px solid brown;
    border-radius: 5px;
}

.karma {
    display: inline-block;
    background-color: linen;
    border-top: 2px solid orange;
    border-radius: 5px;
}

.calculator {
    display: inline-block;
    background-color: linen;
    border-top: 2px solid blue;
    border-radius: 5px;
}

